header{
    background-color: #e9f81352;
    color: white;
}


.logotipo{
    width: 120px;
    position: relative;
    top: 20px;
    left: 20px;
}


.cabecalho{
    background-color: #f8f4135e;
    color: rgb(0, 0, 0);
}


.cabecalho-lista{
    display: flex;
    position: relative;
    left: 300px;
    top: 20px;

}

